/* lg */
@media (min-width: 1600px) {

	#min {
		background-size: cover;
	}
}
/* lg */
@media (min-width: 1400px) {

	.bnner-form button.form-control {
		height:49px;
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	.bnner-form .form-control,
	.bnner-form .ctegory-dropdown{
		height:45px;
	}
	.bnner-form button.form-control {
		height:48px;
	}
	.downlod-pp{
		padding:10px 20px;
	}
	#heder .btn{
		position:bsolute;
		top:60px;
		right:20px;
		z-index:10;
	}
	.home-two .ctegory-list .ctegory-item,
	.home-one .ctegory-list .ctegory-item {
		width:25%;
	}
	.ctegory-list .ctegory-item,
	.single-service {
		width:20%;
	}
	.bnner-form-full.bnner-form input,
	.home-two .bnner-form-full.bnner-form input,
	.home-three .bnner-form-full.bnner-form input{
		min-width:334px;
	}

	/* bout us */
	.tem-member {
		width:20%;
		min-height:250px;
		margin-bottom:0;
	}
	.bout-us h3 {
		margin-top:0;
	}
	.d-met{
		left:inherit;
		right:0;
		width:150%;
	}
	.item-info, .d-item {
		min-height: 160px;
	}
	.d-profile .user{
		width:40%;
	}
	.congrtultions {
		padding:80px;
		padding-bottom:90px;
	}
	#product-crousel .crousel-indictors li,
	#product-crousel .crousel-indictors li.ctive {
		height:100px;
		width:83px;
	}
	#services-d .pgintion {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.section.crs-ds .cr-info + .cr-info {
		margin-left: 0;
	}
	.section.crs-ds .cr-info {
		width: 50%;
	}
	.section.crs-ds .d-met {
	    width: 126%;
	}
	.section.crs-ds .item-imge-box,
	.section.crs-ds .item-imge img,
	.crs-ds-box {
		min-height: 173px;
	}
	.section.crs-ds .item-title {
		margin-bottom: 0;
	}
	.section.crs-ds .d-item {
		min-height: 175px;
	}
	.section.crs-ds .item-title  {
		font-size: 16px;
	}
	.home-one .fetured,
	.home-one .d-item {
		overflow: hidden;
	}
	.home-one .d-met {
		width: 135%;
	}



}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-text {
        margin-top: 100px;
    }
	.nv-right {
		display: block;
		width: 100%;
		clear: both;
		padding-bottom:20px;
	}
	#heder .btn {
		position:bsolute;
		top:12px;
		right:20px;
	}
	.bnner-form input {
		min-width: 355px;
	}
	.bnner-section h1.title,
	.bnner h1.title {
		font-size: 45px;
		line-height: 50px;
	}
	.bnner-form .form-control, .bnner-form .ctegory-dropdown {
		height:44px;
	}
	.bnner-form button.form-control{
		height:47px;
	}

	.ctegory-list .ctegory-item {
		width:33%;
	}
	.d-info .item-title {
		font-size:16px;
	}
	.d-item, .item-info {
		min-height: 180px;
	}
	.d-met .user-option  {
		font-size:16px;
	}
	.single-ct {
		padding: 0 10px;
	}
	.downlod-pp {
		min-height:145px;
		text-align:center;
	}
	.downlod-pp img {
		float:none;
		display:inline-block;
		margin-bottom:5px;
	}
	.footer-widget ul li {
		font-size:16px;
		line-height:22px;
	}
	.footer-widget h3{
		font-size:22px;
		margin-bottom:25px;
	}
	.socil-widget ul li  {
		margin: 10px 0;
	}
	.footer-widget ul li  i{
		font-size:38px;
	}

	/* home-one */
	.home-two .ctegory-list .ctegory-item,
	.home-one .ctegory-list .ctegory-item {
		width:25%;
	}

	/* home-two */
	.bnner-form-full.bnner-form .form-control,
	.bnner-form-full.bnner-form .ctegory-dropdown {
		width: 49%;
		border-right: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		margin-left: 0px;
	}
	.bnner-form-full.bnner-form .ctegory-dropdown.lnguge-dropdown,
	#services-d .ctegory-dropdown.lnguge-dropdown{
		border-right:0;
	}
	.bnner-form-full.bnner-form input[type="text"]{
		margin-left: 0px;
		min-width:80%;
		border-right: 1px solid #e8e8e8;
		border-bottom:0;
		border-radius:4px;
	}
	.bnner-form-full.bnner-form button.form-control {
		max-width:140px;
		border-right:0;
	}
	#services-d .ctegory-dropdown {
		border-right: 1px solid #e8e8e8;
	}
	#services-d .bnner-form input[type="text"] {
		margin-left:0;
		border-right: 1px solid #e8e8e8;
	}
	#view-d h2 {
		font-size:50px;
	}
	#services-d .services {
		padding:25px;
	}
	.single-service {
		width:32%;
	}

	/* bout us */
	.tem-member {
		width:25%;
	}
	.our-pproch {
		text-align:left;
	}
	.bout-us h3 {
		font-size:22px;
	}
	.bout-info {
		margin-bottom: 20px;
	}


	/* d post */
	.post-option {
		margin-bottom:25px;
		padding-bottom:0;
	}
	.d-section {
		margin: 20px 0;
	}
	.d-profile .user{
		width:40%;
	}

	.d-profile .my-ds, .d-profile .fvorites {
		padding:30px;
	}
	.d-profile .user-menu li{
		padding:15px;
	}
	.d-met{
		left:inherit;
		right:0;
		width:150%;
	}
	.home-one .fetured,
	.home-one .d-item {
		overflow: hidden;
	}
	.home-one .d-met {
		width: 135%;
	}
	.congrtultions {
		padding:50px;
		padding-bottom:65px;
	}
	.congrtultions h4{
		font-size:20px;
	}

	.contct-info h2 {
		font-size:24px;
	}

	#product-crousel {
		margin-bottom:150px;
	}

	#product-crousel .crousel-indictors li,
	#product-crousel .crousel-indictors li.ctive {
		margin-left:28px;
	}

	#home-section h2 {
		font-size:45px;
	}
	#home-section .btn{
		margin-right:0;
	}
	#services-d .pgintion {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.home-bnner h1 {
		font-size: 50px;
	}

	.ctegory-menu {
		width: 25%;
	}

	.pricing-section .pric {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pricing-section .pric li i {
		margin-right: 10px;
	}

	.pricing-section .pric li {
		font-size: 13px;
	}

	.pricing-section .pric h3 {
		font-size: 60px;
		line-height: 60px;
	}

	.pricing-section .pric h3 sup {
		top: -20px;
	}

	.pricing-section .pric h2 {
		margin-bottom: 10px;
	}
	.trending-ds.crs-ds .d-item {
		min-height: 299px;
	}
	.section.crs-ds .d-met {
	    width: 100%;
	}
	.crs-ds-box {
		min-height: 145px;
	}
	.ctegory-menu {
		margin-top: 0;
	}
	.pge .ctegory-section .section-title {
		margin-bottom: 25px;
	}

}


/* xs */
@media (max-width: 767px) {
    .slider-text {
        margin-top: 100px;
    }
	h1 {
		font-size:30px;
	}
	h2 {
		font-size:22px;
	}
	h3{
		font-size:18px;
	}
	h4 {
		font-size:16px;
	}
	h5 {
		font-size:14px;
	}

	#heder .btn {
		position:bsolute;
		top:12px;
		right:65px;
		padding:4px 15px 6px;
	}
	.lnguge-dropdown  {
		font-size:14px;
	}
	.nv li , .nvbr-defult .nvbr-nv > li >  {
		padding:10px 12px;
	}
	.bnner-section h1.title,
	.bnner h1.title,
	.bnner-job h1 {
		font-size: 36px;
		line-height: 38px;
	}
	.bnner-section h3 {
		font-size:18px;
	}

	.bnner-form .form-control,
	.bnner-form .ctegory-dropdown {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		border-radius:4px;
		margin-left:0;
		border-bottom:1px solid #e6e6e6;
		border-right:0;
	}
	.bnner-form button.form-control {
		margin-bottom:0;
		position:inherit;
		right:0;
		top:0;
	}
	#services-d .ctegory-dropdown {
		border-right:0;
	}
	.ctegory-list .ctegory-item,
	.home-two .ctegory-list .ctegory-item,
	.home-one .ctegory-list .ctegory-item {
		width: 47%;
	}
	.home-two .ctegory-list .ctegory-item,
	.home-one .ctegory-list .ctegory-item {
		margin-bottom:10px;
	}
	.d-section {
		margin: 0 0 25px;
	}
	.d-item .d-info {
		min-height: 150px;
	}
	.item-imge-box, .d-item {
		max-height:inherit;
	}
	.d-info .item-title {
		font-size:16px;
	}
	.d-info .item-ct {
		font-size:12px;
	}
	.d-info .item-price {
		font-size:18px;
	}
	.single-ct {
		margin-bottom:35px;
	}
	.downlod-pp {
		margin-bottom:25px;
	}
	.footer-top {
		padding: 20px 0 40px;
	}
	.footer-widget h3 {
		margin-bottom:20px;
	}
	.footer-widget ul li  {
		font-size:16px;
		line-height:22px;
	}
	.socil-widget ul li  {
		margin:10px 0;
	}
	.footer-widget ul li  i{
		font-size:36px;
	}
	#downlod {
		padding: 25px 0 50px;
	}

	/* home-two */
	.home-two .ctegory-dropdown,
	.home-two .bnner-form input[type="text"],
	#services-d .ctegory-dropdown,
	#services-d .bnner-form input[type="text"] {
		margin-left:0;
		border-radius:4px;
	}
	.bnner-form-full.bnner-form input,
	.home-two .bnner-form-full.bnner-form input,
	.home-three .bnner-form-full.bnner-form input {
		min-width: 100%;
	}
	.pgintion > li > , .pgintion > li > spn{
		padding:3px 8px;
	}
	.bnner-form button.form-control {
		margin-left:0;
		border-radius:4px;
	}
	#view-d h1{
		margin:0;
	}
	#view-d h2 {
		font-size:40px;
		margin:5px 0 20px;
	}
	.d-btn {
		margin-bottom:30px;
	}
	#view-d img {
		display:none;
	}
	#services-d .services{
		padding:25px;
	}
	.single-service {
		width:49%;
		margin-bottom:0;
		padding: 10px;
	}

	/* bout us */
	.bredcrumb-section h2.title {
		font-size:24px;
		line-height:26px;
	}
	.bout-us h3 {
		font-size:20px;
	}
	.bout-info {
		margin-bottom: 0;
	}
	.bout-text {
		padding-bottom:0;
	}
	.our-pproch {
		text-align:left;
	}
	.tem-member {
		width:50%;
		min-height: 250px;
		margin-bottom: 0;
	}
	.client-prgrp {
		font-size:16px;
	}

	/* d post */
	.post-option li  {
		font-size:14px;
	}
	.select-ctegory spn.select {
		margin-right:20px;
	}
	.post-option {
		margin-bottom:20px;
		padding-bottom:0;
	}
	.post-option.next-stp {
		padding: 10px 25px;
		margin-bottom:35px;
	}
	.next-stp h2,
	.d-profile .user h2 {
		font-size:24px;
	}

	/* my dds */

	.user-imges {
		margin-top:20px;
		margin-right:20px;
		width:20%
	}
	.d-profile .user {
		width:75%;
	}
	.fvorites-user {
		float: right;
		padding-bottom:20px;
	}
	.d-profile .my-ds, .d-profile .fvorites {
		padding:0 20px;
		border-left:0;
	}
	.d-profile .fvorites-user  {
		font-size:30px;
	}
	.d-profile .fvorites-user smll{
		font-size:13px;
	}
	.d-profile .user-menu li {
		border: 1px solid #f5f5f5;
	}
	.d-profile .user-menu li  {
		font-size:14px;
	}
	.d-profile .user h5 {
		font-size:14px;
	}
	.user-profile {
		margin-bottom:15px;
	}
	.d-profile .user-menu li {
		padding: 12px 19px;
	}
	.user-pro-section .section {
		padding: 10px 20px;
	}
	.user-pro-section lbel{
		font-size:14px;
	}
	.user-pro-section .form-control{
		width:70%;
	}
	.user-pro-section select,
	.user-pro-section input {
		font-size: 14px;
		height: 35px;
	}
	.d-met .met-content {
		padding:5px;
	}
	.d-met .met-content .visitors {
		display:block;
	}
	#something-sell h2.title {
		font-size: 28px;
		line-height: 32px;
	}
	.congrtultions {
		padding: 60px 25px;
		padding-bottom: 70px;
	}
	/* ctegory */
	.recommended-ds {
		padding: 20px 30px 15px;
	}
	.recommended-ds h4{
		display:inline;
	}
	.pgintion > li > {
		font-size:12px;
	}
	/* sign up */
	.user-ccount {
		padding:30px 30px 40px;
	}
	.user-ccount  h2{
		margin-bottom:35px;
	}
	.user-pge .btn-primry {
		padding: 10px 30px;
		font-size: 16px;
	}
	.contct-info, .feedbck {
		min-height: inherit;
	}
	.contct-info {
		margin-bottom:25px;
	}
	.contct-info h2{
		margin-top:0;
	}

	/* d detils */
	.selected-product .select-ctegory li {
		margin-bottom:5px;
		margin-right:0px;
	}
	.postdetils li {
		font-size:14px;
	}
	.selected-product .select-ctegory li.ctive {
		padding-left:70px;
	}
	.dpost-detils .form-group {
		margin-bottom:20px;
	}
	.dpost-detils lbel.lbel-title{
		padding-top:0;
	}
	.dd-imge lbel.uplod-imge:before {
		font-size:26px;
		margin-left:-11px;
	}
	.select-price input[type="text"]{
		max-width:190px;
	}
	.checkbox lbel {
		margin-right:20px;
	}
	.dpost-detils lbel {
		font-size:14px;
	}
	.btn.btn-primry {
		padding:8px 30px 10px;
		font-size:16px;
	}
	section {
		padding:30px 0;
	}
	#product-crousel {
		margin-bottom:115px;
	}
	#product-crousel .crousel-indictors li,
	#product-crousel .crousel-indictors li.ctive {
		height: 70px;
		width: 68px;
		margin-left:8px;
	}
	#product-crousel .crousel-control {
		font-size: 28px;
		line-height:28px;
		margin-top:-14px;
	}
	#product-crousel .crousel-indictors {
		bottom: -105px;
	}
	.slider-text h2 {
		font-size:24px;
	}
	#min .slider-text h3.title {
		font-size:28px;
		margin:5px 0 8px;
	}
	.short-info li  {
		font-size:14px;
	}

	#services-d .pgintion,
	.pgintion {
		margin-top:0;
		margin-bottom:25px;
	}

	#home-section h2 {
		font-size:36px;
	}
	#home-section img {
		display: none;
	}
	.home-bnner {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.home-bnner .cr-info {
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.home-bnner h1 {
		font-size: 40px;
	}
	.ctegory-menu {
		width: 50%;
		margin-top: 0;
	}
	.pge .section-title {
		margin-bottom: 20px;
	}
	.ctegory-section .section-title h4,
	.ctegory-section .section-title h5 {
		float: none;
	}
	.found-section h1 {
		font-size: 75px;
	}
	.found-section {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.upcoming-section {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.upcoming-section h1 {
		font-size: 36px;
		margin-top: 15px;
	}
	#countdown li spn {
		font-size: 45px;
		line-height: 60px;
	}
	#countdown li {
		width: 70px;
	}
	#countdown li + li {
		margin-left: 25px;
	}
	#countdown {
		margin-top: 0;
		margin-bottom: 25px;
	}
	.bout-trde {
		padding: 40px 0;
	}
	.bout-trde .logo-intro img {
		width: 15%;
	}
	.bout-trde h1 {
		font-size: 36px;
	}
	.bout-trde .bout-title {
		margin-bottom: 20px;
	}
	.bout-trde .bout-info {
		margin-top: 10px;
	}
	.contc-section h1 {
		font-size: 36px;
		margin-bottom: 25px;
	}
	.contc-section {
		padding: 20px 0;
	}
	.section.crs-ds .cr-info + .cr-info {
		margin-left: 0;
		padding-top: 0;
	}
	.section.crs-ds .d-met {
	    width: 100%;
	}
	.trending-ds.crs-ds .item-imge	{
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.section.crs-ds .d-info {
		padding: 15px;
	}
	.section.crs-ds .d-info {
		min-height: 0;
	}
	.section.crs-ds .cr-info {
		padding-top: 0;
	}
	.crs-ds-box {
		min-height: 205px;
	}

	.lnguge-proficiency ul > li+li {
		margin-left: 0;
		padding-left: 5px;
		border-left: 0;
	}
	.lnguge-proficiency ul li {
	    margin-bottom: 5px;
	    overflow: hidden;
	    width: 49%;
	}
	.lnguge-proficiency ul > li ul li {
		width: inherit;
	}
	.personl-info .ddress li h5 {
		min-width: 110px;
	}
	.personl-info .ddress li spn {
		margin-right: 10px;
	}
	.downlod-button.resume {
		float: none;
	}
	.downlod-button.resume .btn {
		margin-left: 0;
	}
	.profile-logo {
		margin-right: 20px;
	}
}

/* XS Portrit */
@media (max-width: 479px) {
	.tb-mnu .nv-tbs li  {
		padding:10px 6px;
	}
	.d-item .d-info {
		min-height: 185px;
	}
	.downlod-pp {
		padding:10px 18px;
	}
	.downlod-pp strong {
		font-size:20px;
	}
	.bnner-form-full.bnner-form input,
	.home-two .bnner-form-full.bnner-form input,
	.home-three .bnner-form-full.bnner-form input {
		min-width:100%;
	}
	.single-service {
		width:100%;
		margin-bottom:0;
	}
	.tem-member {
		width:100%;
		margin-bottom:15px;
	}
	/* my dds */

	.user-imges {
		width:100%
	}
	.d-profile .user {
		width:100%;
	}
	.d-profile {
		position:reltive;
	}
	.fvorites-user {
		position:bsolute;
		top:25px;
		right:20px;
	}
	.d-profile .my-ds,
	.d-profile .fvorites {
		padding: 0 10px;
		border-left: 0;
	}
	.d-profile .user-menu li {
		padding: 10px 14px;
	}
	.single-ct {
		margin-bottom: 0;
	}
	.d-met{
		padding-left:16px;
	}
	.d-met .user-option {
		width:25px;
		height:25px;
		line-height:25px;
	}
	#something-sell h2.title {
		font-size: 25px;
		line-height: 28px;
	}
	.congrtultions {
		padding: 45px 15px;
		padding-bottom: 50px;
	}
	.congrtultions h4{
		font-size:18px;
	}
	.congrtultions i {
		font-size: 45px;
		margin-bottom: 10px;
	}
	.recommended-ds h4{
		display:block;
	}
	.user-option .forgot-pssword{
		float:left !important;
	}
	.user-ccount .checkbox lbel{
		margin:0;
	}
	.user-ccount .user-option{
		margin-top:20px;
	}
	.d-detils-pge h4 spn{
		display:none;
	}
	/* d detils */
	.postdetils .edit{
		right:0;
		top:-15px;
	}
	.dd-imge lbel.uplod-imge {
		margin-left:10px;
		height:60px;
	}
	.select-price input[type="text"]{
		margin:10px 0;
	}
	.slider {
		padding:25px;
	}
	#product-crousel {
		margin-bottom:80px;
	}
	#product-crousel .crousel-indictors li,
	#product-crousel .crousel-indictors li.ctive {
		height: 37px;
		width: 38px;
	}
	#product-crousel .crousel-indictors {
		bottom: -70px;
	}
	#min .slider-text h3.title {
		font-size: 24px;
	}

	.ctegory-menu {
		width: 100%;
	}

	.home-bnner h1 {
		font-size: 30px;
	}

	.home-bnner .contct-info {
		padding-bottom: 20px;
	}

	.pricing-section .pric h3 {
	    font-size: 50px;
	    line-height: 20px;
	}

	.pricing-section .pric h3 sup {
		top: -20px;
	}

	.pricing-section .pric h2 {
		margin-bottom: 20px;
	}

	.upcoming-section h1 {
		font-size: 30px;
		margin-bottom: 0;
	}

	.upcoming-section h2 {
		font-size: 20px;
		margin-top: 5px;
	}
	#countdown li {
		font-size: 14px;
		width: 60px;
	}
	#countdown li + li {
		margin-left: 10px;
	}
	#countdown li spn {
		font-size: 30px;
		line-height: 45px;
	}
	.col-to-ction h1 {
		font-size: 24px;
	}
	.col-to-ction {
		padding: 30px 0 45px;
	}
	.crs-ds-box {
		min-height: 255px;
	}
	.job-ctegory-d .ctegory-list .ctegory-item {
		width: 100%;
	}
	.job-d-item .d-info spn {
		font-size: 16px;
	}
	.job-d-item {
		padding: 20px;
	}
	.socil-medi .btn.btn-primry.bookmrk {
		margin-top: 10px;
	}
	.shre-socil li + li {
		margin-left: 7px;
	}
	.job-short-info li spn.icon {
		margin-right: 0;
	}
	.user-ccount .nv-tbs {
		margin-bottom: 45px;
	}
	.user-ccount .nv-tbs > li  {
		padding: 10px 15px;
	}
	.job-postdetils .loction .ctegory-dropdown {
		min-width: 100%;
		margin-bottom: 10px;
	}
	.job-postdetils .loction .form-group {
		margin-bottom: 10px;
	}

	.lnguge-proficiency ul > li {
		width: 100%;
	}
	.lnguge-proficiency ul > li+li {
		margin-left: 0;
		padding-left: 5px;
		border-left: 0;
		margin-bottom: 10px;
	}
	.lnguge-proficiency ul > li ul li {
		width: inherit;
	}
	.downlod-button {
		float: none;
	}
	.downlod-button .btn {
		margin-left: 0;
	}
	.profile-logo {
		margin-bottom: 20px;
		float: none;
	}

}

